html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 20px auto;
    width: 1000px;
    height: 70vh;
    display: grid;
    grid-template-rows: [header-start] 1fr 
                        [header-end boxes-start] 2fr 
                        [boxes-end main-start] 4fr 
                        [main-end footer-start] 1fr
                        [footer-end];
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
    grid-gap: 30px;
}

.container > * {
    background-color: orangered;
    color: #fff;
    padding: 10px;
}

.header, .footer {
    grid-column: col-start 1 / grid-end;
}

.sidebar {
    grid-row: boxes-start / main-end;
    grid-column: col-end 3 / grid-end;
}

.main {
    grid-column: col-start 1/ col-end 3;
}